body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}

.avatar {
    width: 150px;
}

.title {
    font-size: 25px;
}

.subtitle {
    color: rgb(57, 135, 135);
}

.main {
    border: 1px solid black;
    text-align: center;
}

.skills ul{
    list-style: none;
}

.gallery > img{
    width: 250px;
}

.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(57, 135, 135);  
}

.videos > iframe {
    width: 800px;
    height: 490px;
    border: none;
}

.education > table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(57, 135, 135);
}

.education tr,
.education td {
    border: 1px solid black;
}

.quote {
    font-size: 35px;
}

footer {
    height: 100px;
    text-align: center;
    background-color: gray;
}

footer a {
    color: black;
}